.test {
  padding: 1rem;
  width: 100%;
  border: 1px solid black;

  form {
    display: flex;
    justify-content: center;
    gap: 1rem;
  }

  input {
    padding: 1rem;
    border-radius: 0.5rem;
    background-color: lightblue;
    outline: none;
  }

  button {
    padding: 1rem;
    border-radius: 0.5rem;
    background-color: blue;
    color: white;
  }
}

.posts {
  display: flex;
  flex-direction: column;

  h2 {
    font-size: 26px;
  }
}

.post_card {
  display: flex;
  gap: 1rem;
  padding: 1rem;
  width: fit-content;
  border: 1px solid black;
  border-radius: 0.5rem;
}
